<div class="modal-header">
  <h5 class="modal-title">
    {{title}}
  </h5>
  <button type="button" aria-label="close" class="btn-close" (click)="dismiss()"></button>
</div>

<div class="modal-body">
  <div class="container-fluid position-relative" style="height: 520px;">

    @if (!isLoading$$()) {
    @let language = isJson ? "json" : "yaml";
    <ngx-monaco-editor style="height: 520px;" [options]="{ theme: 'vs-dark', language: language, readOnly: true }" [ngModel]="content" readonly="true"></ngx-monaco-editor>
    }

    <!-- Loading Overlay -->
    @if (isLoading$$()) {
    <div style="position: fixed; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); z-index: 100;">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    }

  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" style="min-width: 100px;" (click)="download()">
    <span class="bi bi-download"></span>
    Download
  </button>
  <button type="button" class="btn btn-secondary" style="min-width: 100px;" (click)="dismiss()">
    <span class="bi bi-x-square"></span>
    Close
  </button>
</div>
