<!-- Header -->
<div class="row">
  <div class="col-12 mt-3">

    <detail-header text="Users"
                   subtext="Manage users who can access the application." />

  </div>
</div>

<!-- Table -->
<div class="row">
  <div class="col-12 mt-3">

    <detail-box icon="bi-person"
                text="Users List">
      <div class="mt-3">
        <app-table [data]="records" [minRows]="perPage" [isLoading]="isLoading()"
                   [sort]="activeSort" (sortChange)="onSortChange($event)"
                   (filterChange)="onFilterChange($event)">
          <ng-template #headers>
            <th app-table-header="username" class="text-nowrap"
                type="string"
                [sortable]="true"
                [filterable]="true">
              Username
            </th>
            <th app-table-header="emailAddress" class="text-nowrap"
                type="string"
                [sortable]="true"
                [filterable]="true">
              Email address
            </th>
            <th app-table-header="givenName" class="text-nowrap"
                type="datetime"
                [sortable]="true"
                [filterable]="true">
              Given name
            </th>
            <th app-table-header="familyName" class="text-nowrap"
                type="datetime"
                [sortable]="true"
                [filterable]="true">
              Family name
            </th>
            <th class="text-nowrap">
              Actions
            </th>
          </ng-template>

          <ng-template #rows let-row>
            <td class="text-nowrap">
              {{row.username}}
            </td>
            <td class="text-nowrap">
              {{row.emailAddress}}
            </td>
            <td class="text-nowrap">
              {{row.givenName}}
            </td>
            <td class="text-nowrap">
              {{row.familyName}}
            </td>
            <td class="text-nowrap">
              <a [routerLink]="['/users/', row.id]">View</a>
            </td>
          </ng-template>
        </app-table>
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <ngb-pagination [collectionSize]="count"
                        [pageSize]="perPage"
                        [page]="page"
                        (pageChange)="page = $event; search()"
                        [maxSize]="5"
                        [rotate]="true"
                        [boundaryLinks]="true"
                        [directionLinks]="true"></ngb-pagination>
      </div>
    </detail-box>

  </div>
</div>
