<div class="row">
  <!-- Header -->
  <detail-header text="Packages"
                 subtext="View your packages."
                 class="mt-3" />
</div>

<detail-box icon="bi-box-seam"
            text="Packages List"
            class="mt-3">
  <div class="mt-3">
    <app-table [data]="records" [minRows]="perPage" [isLoading]="isLoading()"
               [sort]="activeSort" (sortChange)="onSortChange($event)"
               (filterChange)="onFilterChange($event)">
      <ng-template #headers>
        <th app-table-header="trackingNumber" class="text-nowrap"
            type="string"
            [sortable]="true"
            [filterable]="true">
          Tracking number
        </th>
        <th app-table-header="contents" class="text-nowrap"
            type="string"
            [sortable]="true"
            [filterable]="true">
          Contents
        </th>
        <th app-table-header="createdAt" class="text-nowrap"
            type="datetime"
            [sortable]="true"
            [filterable]="true">
          Created at
        </th>
        <th app-table-header="modifiedAt" class="text-nowrap"
            type="datetime"
            [sortable]="true"
            [filterable]="true">
          Modified at
        </th>
        <th app-table-header="lastStatusType" class="text-nowrap"
            type="string"
            [sortable]="true"
            [filterable]="true"
            [operators]="['equals', 'not_equals']"
            [enumValues]="['Waiting', 'InTransit', 'OutForDelivery', 'Delivered', 'FailedAttempt', 'Returned', 'Expired', 'Unknown']">
          Status
        </th>
        <th class="text-nowrap">
          Actions
        </th>
      </ng-template>

      <ng-template #rows let-row>
        <td class="text-nowrap">
          {{row.trackingNumber}}
        </td>
        <td>
          {{row.contents}}
        </td>
        <td class="text-nowrap">
          {{row.createdAt.startOf('minute').toLocaleString({ month: '2-digit', day: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' })}}
        </td>
        <td class="text-nowrap">
          {{row.modifiedAt.startOf('minute').toLocaleString({ month: '2-digit', day: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' })}}
        </td>
        <td class="text-nowrap">
          {{row.lastStatusType}}
        </td>
        <td class="text-nowrap">
          <a [routerLink]="['/packages/', row.id]">View</a>
        </td>
      </ng-template>
    </app-table>
  </div>
</detail-box>
