@let record = carrierExecution$$();

<!-- Header -->
<div class="row">
  <div class="col-12 mt-3">
    <detail-header [text]="'Execution Details'"
                   [subtext]="record?.carrier?.name + ' | Execution #' + record?.id" />
  </div>
</div>

@if (record) {
<!-- Summary -->
<div class="row">
  <div class="col-12 mt-3">
    <detail-box icon="bi-code" text="Execution Summary">
      <div class="row">
        <div class="col-md-6">
          <div class="row mt-3">
            <label for="carrier" class="col-sm-4 col-form-label">Carrier name</label>
            <div class="col-sm-8">
              <input id="carrier" type="text" [value]="record?.carrier?.name ?? '—'" [readonlyForm]="true" />
            </div>
          </div>
        </div>

        @let statusMeta = getExecutionStatusMetadata(record.executionStatusType!);
        <div class="col-md-3">
          <div class="row mt-3">
            <label for="status" class="col-sm-4 col-form-label">Status</label>
            <div class="col-sm-8">
              <ng-select id="execStatus" [ngModel]="1" [ngModelOptions]="{ standalone: true }" [readonly]="true" [readonlyForm]="true">
                <ng-option [value]="1">
                  <span class="bi me-1" [class]="[statusMeta.icon, statusMeta.color]"></span>
                  {{statusMeta.label}}
                </ng-option>
              </ng-select>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="row mt-3">
            <label for="duration" class="col-sm-4 col-form-label">Duration</label>
            <div class="col-sm-8">
              <input id="duration" type="text" [value]="getDiffTime(record?.startedAt, record?.completedAt)" [readonlyForm]="true" />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row mt-3">
            <label for="startedAt" class="col-sm-4 col-form-label">Started at</label>
            <div class="col-sm-8">
              <input id="startedAt" type="text" [value]="record.startedAt?.toLocaleString({ month: '2-digit', day: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) ?? '—'" [readonlyForm]="true" />
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row mt-3">
            <label for="completedAt" class="col-sm-4 col-form-label">Completed at</label>
            <div class="col-sm-8">
              <input id="CompletedAt" type="text" [value]="record.completedAt?.toLocaleString({ month: '2-digit', day: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) ?? '—'" [readonlyForm]="true" />
            </div>
          </div>
        </div>
      </div>
    </detail-box>
  </div>
</div>

<div class="row">
  <div class="col-12 mt-3">
    <detail-box icon="bi-window" text="Execution Log">
    </detail-box>
  </div>
</div>
}

<!-- Loading Overlay -->
@if (isLoading$$()) {
<div style="position: fixed; top: 0; left: 0; height: 100%; width: 100%; background-color: color-mix(in srgb, var(--bs-body-bg) 50%, transparent); z-index: 100;">
</div>
<div style="position: fixed; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); z-index: 100;">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
}
