<div class="offcanvas-header">
  <h5 class="offcanvas-title" id="offcanvasExampleLabel">
    Shipyard
  </h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="close(0)"></button>
</div>

<div class="offcanvas-body pt-0 px-2">

  <!-- Operations -->
  <div class="px-3 pt-3 pb-1 text-uppercase text-muted small fw-semibold">
    Operations
  </div>

  <div class="list-group list-group-flush">

    <!-- Dashboard -->
    <a [routerLink]="['/']"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }"
       class="list-group-item list-group-item-action d-flex align-items-center"
       (click)="dismiss(0)">
      <i class="bi bi-speedometer me-2"></i>
      Dashboard
    </a>

    <!-- Packages -->
    @if (hasCapability(SecurableType.Package, PermissionId.Read)) {
    <a [routerLink]="['/packages']"
       routerLinkActive="active"
       class="list-group-item list-group-item-action d-flex align-items-center"
       (click)="dismiss(0)">
      <i class="bi bi-box-seam me-2"></i>
      Packages
    </a>
    }

  </div>

  <!-- Notifications -->
  <div class="px-3 pt-3 pb-1 text-uppercase text-muted small fw-semibold">
    Notifications
  </div>

  <div class="list-group list-group-flush">

    <!-- Notifications -->
    <a [routerLink]="['/notifications']"
       routerLinkActive="active"
       class="list-group-item list-group-item-action d-flex align-items-center"
       (click)="dismiss(0)">
      <i class="bi bi-mailbox-flag me-2"></i>
      Inbox
    </a>

    <!-- Subscriptions -->
    <a [routerLink]="['/notifications/subscriptions']"
       class="list-group-item list-group-item-action d-flex align-items-center"
       (click)="dismiss(0)">
      <i class="bi bi-bell me-2"></i>
      Subscriptions
    </a>

  </div>

  <!-- Configuration -->
  <div class="px-3 pt-3 pb-1 text-uppercase text-muted small fw-semibold">
    Configuration
  </div>

  <div class="list-group list-group-flush">

    <!-- Carriers -->
    @if (hasCapability(SecurableType.Carrier, PermissionId.Read)) {
    <a [routerLink]="['/carriers']"
       routerLinkActive="active"
       class="list-group-item list-group-item-action d-flex align-items-center"
       (click)="dismiss(0)">
      <i class="bi bi-truck me-2"></i>
      Carriers
    </a>
    }

    <!-- Carriers -->
    @if (hasCapability(SecurableType.Carrier, PermissionId.Write)) {
    <a [routerLink]="['/import']"
       routerLinkActive="active"
       class="list-group-item list-group-item-action d-flex align-items-center"
       (click)="dismiss(0)">
      <i class="bi bi-upload me-2"></i>
      Import
    </a>
    }

  </div>

  <!-- Administration -->
  <div class="px-3 pt-3 pb-1 text-uppercase text-muted small fw-semibold">
    Administration
  </div>

  <div class="list-group list-group-flush">

    <!-- Users -->
    @if (hasCapability(SecurableType.User, PermissionId.Read)) {
    <a [routerLink]="['/users']"
       routerLinkActive="active"
       class="list-group-item list-group-item-action d-flex align-items-center"
       (click)="dismiss(0)">
      <i class="bi bi-person me-2"></i>
      Users
    </a>
    }

    <!-- Groups -->
    @if (hasCapability(SecurableType.Group, PermissionId.Read)) {
    <a [routerLink]="['/groups']"
       routerLinkActive="active"
       class="list-group-item list-group-item-action d-flex align-items-center"
       (click)="dismiss(0)">
      <i class="bi bi-people me-2"></i>
      Groups
    </a>
    }

    <!-- Roles -->
    @if (hasCapability(SecurableType.Role, PermissionId.Read)) {
    <a [routerLink]="['/roles']"
       routerLinkActive="active"
       class="list-group-item list-group-item-action d-flex align-items-center"
       (click)="dismiss(0)">
      <i class="bi bi-shield-lock me-2"></i>
      Roles
    </a>
    }

  </div>

  <hr class="my-3" />

  <div class="text-muted small pt-0 px-3 pb-3" style="padding: 0 16px 8px 16px;">

    <div class="mt-2">
      <i class="bi bi-info-circle me-1"></i>
      Version: {{version$$()}}
    </div>

    <div class="mt-2">
      <i class="bi bi-clock me-1"></i>
      Server Time: TBD
    </div>

  </div>

</div>
