<div style="position: fixed; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); z-index: 100;" class="text-center w-100">
  <div class="text-success">
    <div class="mb-2">
      <i class="bi bi-check-circle fs-1"></i>
    </div>
    <h1 class="display-4 fw-bold">
      Unsubscribed
    </h1>
  </div>
  <p class="lead mb-3">
    You will no longer receive notifications from this subscription.
  </p>
  <p class="text-muted mb-4">
    Your other Shipyard notification subscriptions have not been changed.
  </p>
  <a routerLink="/" class="btn btn-primary">
    Go Home
  </a>
</div>
