<!-- Header -->
<div class="row">
  <div class="col-12 mt-3">

    <detail-header text="Roles"
                   subtext="Manage security groups and view their members." />

  </div>
</div>

<!-- Table -->
<div class="row">
  <div class="col-12 mt-3">

    <detail-box icon="bi-shield-lock"
                text="Roles List">
      <div class="mt-3">
        <app-table [data]="records" [minRows]="perPage" [isLoading]="isLoading()"
                   [sort]="activeSort" (sortChange)="onSortChange($event)"
                   (filterChange)="onFilterChange($event)">
          <ng-template #headers>
            <th app-table-header="name" class="text-nowrap"
                type="string"
                [sortable]="true"
                [filterable]="true">
              Name
            </th>
            <th app-table-header="description" class="text-nowrap"
                type="string"
                [sortable]="false"
                [filterable]="false">
              Description
            </th>
            <th app-table-header="memberCount" class="text-nowrap"
                type="number"
                [sortable]="false"
                [filterable]="false">
              # of members
            </th>
            <th class="text-nowrap">
              Actions
            </th>
          </ng-template>

          <ng-template #rows let-row>
            <td class="text-nowrap">
              {{row.name}}
            </td>
            <td class="text-nowrap">
              {{row.description?.length > 100 ? (row.description | slice:0:100) + '...' : row.description}}
            </td>
            <td class="text-nowrap">
              {{row.users?.length ?? 0}}
            </td>
            <td class="text-nowrap">
              <a [routerLink]="['/roles/', row.id]">View</a>
            </td>
          </ng-template>
        </app-table>
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <ngb-pagination [collectionSize]="count"
                        [pageSize]="perPage"
                        [page]="page"
                        (pageChange)="page = $event; search()"
                        [maxSize]="5"
                        [rotate]="true"
                        [boundaryLinks]="true"
                        [directionLinks]="true"></ngb-pagination>
      </div>
    </detail-box>

  </div>
</div>
