<!-- Header -->
<div class="row">
  <div class="col-12 mt-3">

    <detail-header text="Carriers"
                   subtext="View and configure carrier connections." />

  </div>
</div>

<!-- Table -->
<div class="row">
  <div class="col-12 mt-3">

    <detail-box icon="bi-truck"
                text="Carriers List">
      <div class="mt-3">
        <app-table [data]="records" [minRows]="perPage" [isLoading]="isLoading()"
                   [sort]="activeSort" (sortChange)="onSortChange($event)"
                   (filterChange)="onFilterChange($event)">
          <ng-template #headers>
            <th app-table-header="name" class="text-nowrap"
                type="string"
                [sortable]="true"
                [filterable]="true">
              Name
            </th>
            <th app-table-header="createdAt" class="text-nowrap"
                type="datetime"
                [sortable]="true"
                [filterable]="true">
              Created at
            </th>
            <th app-table-header="modifiedAt" class="text-nowrap"
                type="datetime"
                [sortable]="true"
                [filterable]="true">
              Modified at
            </th>
            <th class="text-nowrap">
              Actions
            </th>
          </ng-template>

          <ng-template #rows let-row>
            <td class="text-nowrap">
              {{row.name}}
            </td>
            <td class="text-nowrap">
              {{row.createdAt.startOf('minute').toLocaleString({ month: '2-digit', day: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' })}}
            </td>
            <td class="text-nowrap">
              {{row.modifiedAt.startOf('minute').toLocaleString({ month: '2-digit', day: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' })}}
            </td>
            <td class="text-nowrap">
              <a [routerLink]="['/carriers/', row.id]">View</a>
            </td>
          </ng-template>
        </app-table>
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <ngb-pagination [collectionSize]="count"
                        [pageSize]="perPage"
                        [page]="page"
                        (pageChange)="page = $event; search()"
                        [maxSize]="5"
                        [rotate]="true"
                        [boundaryLinks]="true"
                        [directionLinks]="true"></ngb-pagination>
      </div>
    </detail-box>

  </div>
</div>
